.node {
	width: 1.98%;
	height: 3.8vh;
	outline: 1px solid gray;
	display: inline-block;
}

.node-finish {
	background-color: rgb(97, 12, 136);
}

.node-start {
	background-color: rgb(5, 230, 238);
}

.node-visited {
	animation-name: visitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: rgba(216, 250, 26, 1);
		border-radius: 100%;
	}
	25% {
		transform: scale(0.3);
		background-color: rgba(16, 89, 150, 0.75);
		border-radius: 100%;
	}

	50% {
		background-color: rgba(71, 224, 10, 0.75);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(60, 255, 0, 0.75);
	}

	100% {
		transform: scale(1);
		background-color: rgba(136, 255, 0, 0.75);
	}
}

.node-wall {
	background-color: grey;
}

.node-shortest-path {
	animation-name: shortestPath;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes shortestPath {
	0% {
		transform: scale(0.6);
		background-color: rgb(245, 202, 10);
	}

	50% {
		transform: scale(1.2);
		background-color: rgb(255, 190, 106);
	}

	100% {
		transform: scale(1);
		background-color: rgb(236, 33, 26);
	}
}
